.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url('https://a-static.besthdwallpaper.com/sakura-tree-reflected-in-pond-wallpaper-2560x1600-28249_7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
}

.Home div {
  text-align: center;
}

.Home h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  color: #ff009d;
  font-family: 'Noto Serif JP', serif;
}

.Home p {
  font-size: 24px;
  margin-top: 20px;
  color: #ffffff;
  font-family: 'Noto Serif JP', serif;
}

.material-icons {
  vertical-align: middle;
  font-size: 32px;
}
