.Profile {
    text-align: center;
    color: #ff009d;
    font-family: 'Noto Serif JP', serif;
  }
  
  .Profile h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .Profile p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .Profile .favorites-section {
    margin-top: 2rem;
  }
  
  .Profile .favorites-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .Profile .favorite-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Profile .favorite-list li {
    margin: 0.5rem;
  }
  
  .Profile .favorite-link {
    text-decoration: none;
    color: #ff009d;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Profile .favorite-link:hover {
    color: green;
  }
  
  .Profile .favorite-cover {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  .Profile .favorite-title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  
  .profile-actions {
    margin-top: 20px;
  }
  
  .edit-profile-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .edit-profile-button:hover {
    opacity: 0.8;
  }
  